page-login {
    ion-img {
        width: 200px;
        height: 200px;
    }
}

#title {
    font-family: 'wedgie';
    font-size: 2.92rem;
}

.b{
    border-width: 0rem 0.1rem 0.1rem 0rem;
    border-color: black;
    border-style: solid;
}
.b2{
    margin-top: 0.8rem;
}
